torch==2.9.0
av
aiortc
numba
fastapi
opencv-python-headless>=4.9.0.80
torchvision>=0.19.0
tqdm
imageio
easydict
ftfy
dashscope
imageio-ffmpeg
numpy>=1.23.5
scipy
uvicorn[standard]==0.30.6
pillow==10.4.0
fastapi==0.115.0
diffusers